@mixin header-link-styles {
  text-decoration: none;
  color: black;
}

@mixin header-button-styles {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0rem;
  width: 7.01444rem;
  height: 1.94363rem;
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    font-size: 0;
    border: none;
    padding: 0;
    width: 2rem;
    height: 2rem;
    font-size: 0;
  }

  &__icon {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      width: 2rem;
      height: 2rem;
      object-fit: cover;
    }
  }
}

@mixin header-username-styles {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header {
  &__user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      position: relative;
      width: 10rem;
    }

    &__link {
      @include header-link-styles;
      margin-right: 1.59rem;
    }

    &__link--create-article {
      @include header-link-styles;
      margin-right: 1.67rem;

      @media screen and (max-width: 768px) {
        display: flex;
        margin-right: 0.5rem;
      }
    }

    &__data {
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
      }

      &__username {
        @include header-username-styles;
        margin-right: 0.81rem;
      }

      &__image {
        display: block;
        width: 2.875rem;
        height: 2.875rem;
        flex-shrink: 0;
        border-radius: 50%;

        &:hover {
          box-shadow: 0px 0.6088px 2.93329px 0px black;
        }

        @media screen and (max-width: 768px) {
          border: 3px solid #ff7e00;
        }
      }
    }
  }

  &__btn--create-article {
    @include header-button-styles;
  }

  &__btn--log-out {
    @include header-button-styles;
    width: 6.8125rem;
    height: 3.1875rem;
    flex-shrink: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: 0;
      border: none;
      width: 2rem;
      height: 2rem;
      padding: 0;
    }
  }
}
