.main__articles-list {
  list-style-type: none;
  display: flex;
  width: 65.49%;
  max-width: 941px;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 26px;

  @media screen and (max-width: 768px) {
    width: 98%;
  }
}
