.main {
  position: relative;

  background: var(--Background, #ebeef3);
  min-height: 100vh;
  padding-top: 1.62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__error-notification {
    position: absolute;
    top: 10rem;

    padding: 30px;
    border: 3px solid #fa0f07;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: 400;
    background-color: #fff;
  }
}
