.main {
  position: relative;

  background: var(--Background, #ebeef3);
  padding-top: 1.62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 88vh;

  &__error-notification {
    position: absolute;
    top: 10rem;

    padding: 30px;
    border: 3px solid #fa0f07;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 5px rgba(243, 4, 4, 0.1);
    font-size: 25px;
    font-weight: 400;
    background-color: #fff;
  }
}
