@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin header-container {
  min-height: 80px;
  width: 100%;
  max-width: 1140px;
  padding: 24px;

  @media screen and (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    @include flex-space-between;
    @include header-container;
    align-items: center;
    background: #fff;
  }

  &__title {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }

    :active {
      color: rgb(145, 146, 145);
    }
  }
}
