.header {
  position: relative;

  &__container {
    min-height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color-base, #fff);
  }

  &__title {
    color: var(--heading-color, rgba(0, 0, 0, 0.85));
    text-decoration: none;
    margin-left: 1.38rem;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.75rem;

    :active {
      color: rgb(145, 146, 145);
    }
  }
}
