.main__articles {
  &-expanded {
    list-style-type: none;
    width: 58.8125rem;
    @media screen and (max-width: 768px) {
      width: 99%;
    }
  }

  &-markdown {
    color: var(--text-color, rgba(0, 0, 0, 0.75));
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    padding: 0.94rem 0.87rem 0.25rem 1.19rem;

    h1 {
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 10px;
    }

    ol,
    ul {
      padding-left: 20px;
    }
  }
}
