.article {
  &-expanded {
    width: 941px;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 26px;
    @media screen and (max-width: 965px) {
      width: 99%;
    }
  }

  &-markdown {
    color: var(--text-color, rgba(0, 0, 0, 0.75));
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    padding: 0.94rem 0.87rem 2rem 1.19rem;

    ol,
    ul {
      padding-left: 25px;
    }
  }
}
