.articles-list__item {
  margin-bottom: 1.62rem;
  max-width: 58.8125rem;
  min-height: 8.75rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: var(--background-color-base, #fff);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0.94rem 0.87rem 0.25rem 1.19rem;
    margin-bottom: 10px;

    &__right-content {
      display: flex;

      &__container {
        margin-right: 0.75rem;
      }

      &__username-author {
        height: 1.75rem;

        color: var(--heading-color, rgba(0, 0, 0, 0.85));
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem; /* 155.556% */
      }

      &__createdAt {
        color: var(--text-color-secondary, rgba(0, 0, 0, 0.5));
        height: 1.375rem;

        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
      }

      img {
        width: 2.875rem;
        height: 2.875rem;
        flex-shrink: 0;
        border-radius: 50%;
      }
    }

    &__left-content {
      display: flex;
      flex-direction: column;

      &__tags span {
        margin-right: 5px;
        padding: 2px;

        color: var(--text-color-secondary, rgba(0, 0, 0, 0.5));

        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        border-radius: 0.125rem;
        border: 1px solid var(--text-color-secondary, rgba(0, 0, 0, 0.5));
      }

      &__container {
        display: flex;
      }

      &__title {
        text-decoration: none;
        display: block;
        margin-right: 0.81rem;
        color: var(--info-color, #1890ff);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
      }

      &__likes {
        display: flex;
        align-items: center;

        div {
          height: 1rem;
          width: 1rem;

          margin-right: 0.3rem;
        }
      }
    }
  }

  &__description {
    margin-left: 1.19rem;
    color: var(--text-color, rgba(0, 0, 0, 0.75));
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    height: 2.8125rem;
    overflow: hidden;
  }
}
